.wvPYBNp-xj {
    opacity: 0;
    transition: opacity ease .5s;
}

.wvPYBNp-xj.active {
    opacity: 1;
}

._33NIKwFiud {
    transition: all .2s;
}

._2uSV0rio0i {
    opacity: 0;
    transition: opacity ease .5s;
}

.y_hxBCBrRA:hover ._2uSV0rio0i {
    opacity: 1;
}

._1nirg3Kvc6{
    height: 100vh;
}

.flex-control-nav {
    bottom: 40px;
}